@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import "tailwindcss";


.font-rm {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.font-xxb {
  font-weight: 900;
}